# Dependencies
node_modules/
.npm

# Build output
dist/

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
src/prisma/migrations/

# Test
coverage/

# Docker
docker-compose.override.yml

# Flutter
mobile/build/
mobile/.dart_tool/
mobile/.packages
